<ng-container *ngIf="(user$ | async) as user">
  <section class="flex flex-col mt-4">
    <div class="flex flex-row gap-4 shrink-0 items-center">
      <div class="avatar">
        <div class="w-24 rounded">
          <img [src]="user.data.avatar" alt="user-avatar"/>
        </div>
      </div>

      <div class="shrink">
        <p class="text-lg font-semibold">{{user.data.first_name}} {{user.data.last_name}}</p>
        <p class="text-sm">{{user.data.email}}</p>
      </div>
    </div>

  </section>
</ng-container>
