<nav class="bg-slate-800 h-14">
  <ul class="h-full flex flex-row gap-1 justify-center items-center">
    <li
      class="px-6 py-3 hover:bg-slate-900 transition-colors rounded-md font-normal hover:font-semibold cursor-pointer"
      routerLink="/home"
      routerLinkActive="bg-slate-950"
    >Home</li>
    <li
      class="px-6 py-3 hover:bg-slate-900 transition-colors rounded-md font-normal hover:font-semibold cursor-pointer"
      routerLink="/user/list"
      routerLinkActive="bg-slate-950"
    >Users</li>
  </ul>
</nav>
